<% include ./partials/header %>

<div class="ui main text container">
    <div class="ui huge header">Blog List</div>
        <div class="ui top attached segment">
            <div class="ui divided items">
                <% allBlogs.forEach(function(blog){ %>
                    <div class="item">
                        <div class="ui small image">
                          <img class="ui centered rounded image" src="<%= blog.image %>" />
                        </div>
                        <div class="content">
                            <div class="header""><%= blog.title %></div>
                            <div class="meta">
                                <span><%= blog.date.toDateString() %></span>
                            </div>
                            <div class="description">
                               <p><%- blog.body.substring(0, 100) %>...</p>
                            </div>
                            <a class="ui right labeled icon primary button" href="/blogs/<%= blog._id %>"><i class="right arrow icon"></i>Read More</a>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>
<% include ./partials/footer %>